@model KisaanSnehiWebApplication.Models.CropModel

@{
    ViewData["Title"] = "Delete Crop";
    Layout = "~/Views/Shared/_FarmerLayout.cshtml";
}


<div class="modal fade" id="DeleteCrop">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="DeleteCrop" style="padding-left:180px; color:forestgreen">Delete</h4>
                <button type="button" class="btn btn-close" data-dismiss="modal" style="background-color:forestgreen; color:white;">
                </button>
            </div>

            <div class="modal-body">
                <h3>Are you sure you want to delete this?</h3><br />

                <div>

                    <img src="@("~/CropImages/" + Model.Image)" asp-append-version="true" alt="" class="img-fluid"
                         style="width:200px; height:170px;"> <br />
                    @Html.DisplayNameFor(model => model.CropName) : @Html.DisplayFor(modelItem => modelItem.CropName) <br />
                    @Html.DisplayNameFor(model => model.CropPrice) : @Html.DisplayFor(modelItem => modelItem.CropPrice) <br />
                    @Html.DisplayNameFor(model => model.CropDesc) : @Html.DisplayFor(modelItem => modelItem.CropDesc) <br />
                    @Html.DisplayNameFor(model => model.CropQuantity) : @Html.DisplayFor(modelItem => modelItem.CropQuantity) <br />
                    @Html.DisplayNameFor(model => model.CropQuantityInStock) : @Html.DisplayFor(modelItem => modelItem.CropQuantityInStock) <br />
                </div>

                <br />

                <form asp-action="DeleteCrop">
                    <input type="submit" value="Delete" class="btn btn-primary" style="background-color:forestgreen; color:white;" />
                    <button type="button" class="btn btn-secondary close" data-dismiss="modal" style="background-color:forestgreen; color:white;">
                        <span>Close</span>
                    </button>
                </form>



            </div>


        </div>


    </div>



</div>




